---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<hr/>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my papers on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

Click <a href="{{site.url}}/publications_date">here</a> to view by date.

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% assign sorted_by_date = site.publications | sort: 'date' %} <!-- 按日期升序排列 -->
    {% assign sorted_posts = sorted_by_date | sort: 'importance' | reverse %} <!-- 按重要性降序排列 -->

    {% for post in sorted_posts %}
      {% if post.category != category[0] %} <!-- 0是类别名字，1是类别的元数据，[1].title表示取出title这个元数据 -->
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h1 style="margin: 1em 0 0.5em;">{{ category[1].title }}</h1><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single-publication-project.html %}
      {% unless forloop.last %}
        <hr />
      {% endunless %}
    {% endfor %}
  {% endfor %}



